.NoteItem__container {
    width: 800px;
    border: solid 1px #de570a;
    border-radius: 0.3em;
    padding: 1em;
    margin-bottom: 1em;
    display: inline-block;
    cursor: pointer;
    background-color: #f3f5f2;
    //box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
span {
    color: black !important;
}
h4 {
    color: blueviolet;
}